<div class="card">
  <div class="card-head">
    <app-skeleton-loader *ngIf="!loaded" width="100" height="100" circle="true"></app-skeleton-loader>
    <img *ngIf="loaded"
      src="https://images.unsplash.com/photo-1457449940276-e8deed18bfff?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
      alt="avatar">
    <div class="info">
      <app-skeleton-loader *ngIf="!loaded" width="100"></app-skeleton-loader>
      <p *ngIf="loaded" class="name">Thiago Piacentini</p>
      <app-skeleton-loader *ngIf="!loaded" width="150"></app-skeleton-loader>
      <span *ngIf="loaded" class="description">Frontend Developer</span>
    </div>
  </div>
  <div class="card-body">
    <app-skeleton-loader *ngIf="!loaded" width="100"></app-skeleton-loader>
    <strong *ngIf="loaded">About</strong>
    <app-skeleton-loader *ngIf="!loaded" width="270" height="70"></app-skeleton-loader>
    <div *ngIf="loaded" class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In ullam cum mollitia commodi error voluptate ipsam tempora unde voluptatum. Accusantium unde asperiores numquam amet debitis voluptate illum orporis! Perferendis, debitis.
    </div>
  </div>
</div>

<router-outlet></router-outlet>
